*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url(images/high-angle-view-pink-green-cardboard-papers-yellow-backdrop.jpg);
}
li{
    list-style-type: none;
}
nav{
    display: flex;
    justify-content:space-between;
    padding: 40px 40px;
}
.profile img{
    width: 60px;
    border-radius: 50%;
    background-color: rgb(198, 197, 197);
}
.profile{
    display: flex;
    align-items: baseline;
}
h1{
    font-family: "Sofia", sans-serif;
  font-size: 30px;
}
nav ul{
    display: flex;
    gap: 30px;
    cursor: pointer;
}
.wrapper{
    display: flex;
    align-items: center;
}
.left h3{
    font-family: "Sofia", sans-serif;
  font-size: 20px;
}
.left span{
display: flex;
align-items: center;
gap: 5px;
}
.left .font-effect-emboss{
    font-family: "Sofia", sans-serif;
  font-size: 35px;
}
.left p{
    color: rgb(67, 69, 70);
}
button{
    width: 70px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    margin-left: 50px;
}
.left{
    flex: 1;
    padding: 50px 50px;
}
.right{
flex: 2;
}
.icon img{
    width: 40px;
}
.icon{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.person img{
    width: 70%;
    margin-left: 200px;
}

@media(max-width:600px){
    .profile img{
        width: 70px;
    }
    h1{
      font-size: 13px;
    }
    nav{
        padding: 30px 10px;
    }
    nav ul{
     font-size: 13px;
     gap: 10px;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .right{
    flex: 1;
    }
    .left{
        padding: 50px 10px;
        
        }
    .left .font-effect-emboss{
      font-size: 30px;
    }
    .person img{
        width: 60vh;
        padding-right: 200px;
    }
    button{
        width: 20%;
        margin-left: 10px;
    }
    .icon{
        padding-left: 10px;
    }
}
@media(min-width:400px){
    nav ul{
        font-size: 10px;
        gap: 10px;
       }
}